[Unit]
Description=consul service
Requires=network-online.target
After=network-online.target

[Service]
User=vagrant
AmbientCapabilities=CAP_SYS_RAWIO
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/usr/bin/consul agent \
          -config-dir="/etc/consul.d" \
          -advertise {{ ansible_default_ipv4.gateway }}  \
          -dc ny\
          ${CONSUL_FLAGS}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
